.about_content_container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content_container {
    width: 100%;
    height: 100%;
}

.container {
    background: #e3e6e8;
    height: 100vh;
    width: 100%;
    padding: 2rem 2rem 0rem 2rem;
  }

  .page_content {
    overflow: auto;
  }

  .card-container {
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
  
  .education-header {
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .education-header-title1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-variant: tabular-nums;
    font-size: 1rem;
    line-height: 1.5715;
    background-color: #fff;
    font-feature-settings: 'tnum', "tnum";
    overflow: auto;
    margin-top: .5rem;
  }

  .education-header-title2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-variant: tabular-nums;
    font-size: .8rem;
    line-height: 1.5715;
    background-color: #fff;
    font-feature-settings: 'tnum', "tnum";
    overflow: auto;
    margin-bottom: 0rem;
  }

  .education-header-image {
    border: 0.1rem solid #eeeff7;
    border-radius: 1rem;
    padding: .5rem;
  }
  
  .education-content {
    height: max-content;
    background: #c5c5c5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-variant: tabular-nums;
    font-size: 1rem;
    line-height: 1.5715;
    background-color: #fff;
    font-feature-settings: 'tnum', "tnum";
    overflow: auto;
    margin-top: 1rem;
  }
  
  .education-footer {
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .education-footer-button {
    width: 70%;

  }

  .printDoc {
    height: 100vh;
    width: 100vw;

  }
  