.service-content {
    height: 100%;
    width: 100%;
}

.service-content-header {
  height: 95%;
  width: 100%;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #cacaff ;
}

.service-header-text {
  font-variant: all-small-caps;
  font-size: 1.5rem;
  line-height: revert;
}

.service-header-subText {
  font-family: unset;
  font-size: 3rem;
  line-height: revert;
  font-variant: stacked-fractions;
}

.service-content-body {
  width: 100%;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 2rem 0rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.service-content-body-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 4rem;
  margin: 6rem 0rem 1rem 0rem;
}

.service-content-body-title-text {
  text-align: center;
  font-feature-settings: "smcp", "c2sc";
  font-variant: common-ligatures;
  font-size: 3rem;
  font-family: monospace;
}

.service-content-body-title-subtext {
  text-align: center;
  font-size: 1.1rem;
  line-height: revert;
  font-family: emoji;
  font-variant: ordinal;
  font-weight: 500;
  color: #837f7f;
}

.service-content-body-title-bottom-border-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 4rem 0rem;
}

.service-content-body-title-bottom-border {
  border-image: linear-gradient(#8887ff, #cacaff) 30;
  border-bottom-width: .15rem;
  border-bottom-style: solid;
  width: 5rem;
}


.horizontal-gutter-1 {
  height: 1% !important;
}

.services {
  margin: 0rem 5% 0rem 5%;
}

.projects {
  margin: 0rem 15% 0rem 15%;
  padding: 5rem 0rem 5rem 0rem;
}

.projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
