.service_content_container {
    height: 100%;
    width: 100%;
}

.slider_custom_style {
  height: 100%;
  background-color: #f6f3f2;
}

.ant-menu-title-content {
  font-size: 14px !important;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 64px !important;
  cursor: pointer !important;
  transition: color 0.3s !important;
}

.ant-menu-title-content:hover {
  color: rgb(245, 76, 24) !important;
}

.ant-menu-item::after {
 color: rgb(245, 76, 24) !important;
 border: 1px solid rgb(245, 76, 24) !important;
}

.ant-menu-item-selected {
  background-color: rgb(247, 238, 226) !important;
  color: rgb(245, 76, 24) !important;
  font-size: 12px !important;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 45px !important;
  cursor: pointer !important;
}

.ant-menu-inline-collapsed-noicon:hover {
  color: rgb(245, 76, 24) !important;
}


#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: rgb(245, 76, 24) !important;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }