.contact-content {
    width: 100%;
    height: 100%;
}

.contact-content-header {
    height: 95%;
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #cacaff ;
}

.contact-header-text {
    font-variant: all-small-caps;
    font-size: 1.5rem;
    line-height: revert;
}
  
.contact-header-subText {
    font-family: unset;
    font-size: 3rem;
    line-height: revert;
    font-variant: stacked-fractions;
}

.contact-content-body {
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

.body-address {
    width: 100%;
    height: 100%;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-container {
   
}

.address-header {
    color: rgb(40, 39, 39);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-variant: normal;
    display: block;
    padding: 2rem 0rem .5rem 0rem;
}

.address {
    color: rgb(119, 118, 118);
    font-size: 1rem;
    font-family: none ;
    font-weight: 100;
    display: flex;
    padding: .5rem 0rem .2rem 0rem;
}

.address-icon-container {
    width: 10%;
    padding: 0rem 1rem 0rem 0rem;
      
}

.address-icon {
    width: 1.5rem;
    height: 1.5rem;
    
}

.address-text {
   width: 90%;
}

.body-form {
    padding: 0rem 0rem 0rem 0rem;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactForm {
    min-width: 100%;
    max-width: 100%;
    padding: 3.7rem 3.75rem 3.75rem 3.75rem;
    background-color: #FFFFFF;
    position: relative;
}

.ant-input-affix-wrapper > input.ant-input {
    padding: 0rem 0.5rem 0rem 0.5rem !important;
    border: none;
    outline: none;
}

.inputStyle {
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 0.25rem !important;
    padding: .8rem 1.5rem .8rem 1.5rem !important;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: revert;
}
.inputStyle:focus {
    border-color: #cacaff !important;
    border-color: #cacaff !important;
}
.inputStyle:hover {
    border-color: #cacaff !important;
    border-color: #cacaff !important;
}

.inputStyle-inline-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputStyle-inline-1 {
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 0.25rem !important;
    padding: .8rem 1.5rem .8rem 1.5rem !important;
    margin: 0rem .5rem 0rem 0rem;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: revert;
}

.inputStyle-inline-1:focus {
    border-color: #cacaff !important;
    border-color: #cacaff !important;
}
.inputStyle-inline-1:hover {
    border-color: #cacaff !important;
    border-color: #cacaff !important;
}

.inputStyle-inline-2 {
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 0.25rem !important;
    padding: .8rem 1.5rem .8rem 1.5rem !important;
    margin: 0rem 0rem 0rem .5rem;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: revert;
}

.inputStyle-inline-2:focus {
    border-color: #cacaff !important;
    border-color: #cacaff !important;
}
.inputStyle-inline-2:hover {
    border-color: #cacaff !important;
    border-color: #cacaff !important;
}

.textAreaStyle {
    border-radius: 0.25rem !important;
    padding: .8rem 1.5rem .8rem 1.5rem !important;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: revert;
    border: 2px solid rgba(0,0,0,.1);
}
.textAreaStyle:focus {
    border-color: #cacaff !important;
    border-color: #cacaff !important;
}
.textAreaStyle:hover {
    border-color: #cacaff !important;
    border-color: #cacaff !important;
}

.textAreaStyleError {
    border-color: #C61D1D !important;
}

.sendMessage {
    width: 10rem;
    height: 3rem !important;
    background-color: #8887ff;
    border-radius: 0.25rem !important;
    border-color: #8887ff;
    border-style: none;
    border-width: 0rem;
    font-family: cursive;
    font-size: 1rem;
    line-height: inherit;
}
.sendMessage:hover {
    background-color: #a9a9fb !important;
    border-color: #a9a9fb;
}
.sendMessage:focus {
    background-color: #a9a9fb !important;
    border-color: #a9a9fb;
}
.sendMessage:focus-within {
    background-color: #a9a9fb !important;
    border-color: #a9a9fb;
}
.sendMessage:focus-visible {
    background-color: #a9a9fb !important;
    border-color: #a9a9fb;
}
.sendMessage:target {
    background-color: #a9a9fb !important;
    border-color: #a9a9fb;
}
.sendMessage:visited {
    background-color: #a9a9fb !important;
    border-color: #a9a9fb;
}
.sendMessage:active {
    background-color: #a9a9fb !important;
    border-color: #a9a9fb;
}

.horizontal-gutter {
    height: 1rem !important;
}

.horizontal-gutter-1 {
    height: 1% !important;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-anime {
    padding: 5rem 5rem 5rem 5rem;
}

.loader-message {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    text-transform: capitalize;
}

.retry-link {
    color: #C61D1D;
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-bottom: 1px solid #C61D1D;
}
.retry-link:focus {
    color: #C61D1D;
}
.retry-link:hover {
    color: #C61D1D;
}

.send-new-link {
    color: #cacaff;
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-bottom: 1px solid #8887ff;
}
.send-new-link:focus {
    color: #cacaff;
}
.send-new-link:hover {
    color: #cacaff;
}
