.home-content {
    height: 100%;
    width: 100%;
}

.home-content-header {
    height: 95%;
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    background-color: #cacaff ;
    overflow: auto;
}

.home-content-header-row {
    height: 100%;
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

.home-content-header-left-container {
    width: 100%;
    height: 100%;
    padding: 3% 5% 3% 5%;
    overflow: auto;
}

.home-content-header-right-container {
    width: 100%;
    height: 100%;
    padding: 0% 0% 0% 0%;
    overflow: auto;
}

.home-content-header-title {
    font-family: "Rubik";
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 2.4375rem;
    color: #5858c0;
    display: block;
}

.home-hie-text {
    display: inline-block;
    font-size: 1.5rem;
}

.home-hie-anime {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    position: relative;
    bottom: -0.4rem;
    left: 0.25rem;
}

.home-content-header-subText1 {
    font-size: 4rem;
    font-family: "Rubik", sans-serif;
    color: #002d5b;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
    display: block;
    padding: 0rem 0rem 0rem 0rem;
}

.role-animation {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(50, end) forwards;
    font-size: 3rem;
    width: 0;
    margin-left: 1rem;
    border-bottom: .1rem solid #002d5b;
    border-bottom-style: dashed;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  .role-animation::after {
    content: '';
    display: inline-block;
    background-color: #002d5b;
    margin-left: .5rem;
    height: 2rem;
    width: .15rem;
    animation: cursor 0.4s infinite;
  }

  @keyframes cursor {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

.home-content-header-subText2 {
    font-size: 4rem;
    font-family: "Rubik", sans-serif;
    color: #002d5b;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
    display: block;
    padding: 0rem 0rem 1.8125rem 0rem;
}

.home-content-header-content {
    color: #464d65;
    margin-bottom: 2.62rem;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    padding: 0rem 0rem 2.625rem 0rem;
}

.buttons-container {
    margin: 2.625rem 0rem 0rem 0rem;
    display: block;
}

.buttons {
    border-width: 2px;
    border-color: #8887ff;
    margin-right: 1rem;
    width: max-content;
    height: max-content;
    padding: .5rem 1.5rem .5rem 1.5rem;
    font-size: 1rem;
    font-family: sans-serif;
}
.buttons:hover {
    background-color: #8887ff;
    border-color: #8887ff;
    color: #fff;
}
.buttons:active {
    background-color: #8887ff;
    border-color: #8887ff;
    color: #fff;
}
.buttons:focus {
    background-color: #8887ff;
    border-color: #8887ff;
    color: #fff;
}
.buttons_text {
    font-size: 1.2rem;
    font-family: "Rubik", sans-serif;
}

.home-images-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-content-body {
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    overflow: auto;
}