.demo {
    margin: 16px;
  }
  .demo-nav {
    height: 30px;
    margin-bottom: 16px;
    line-height: 30px;
    background-color: azure;
  }
  .demo-nav a {
    padding: 0 8px;
    line-height: 30px;
  }
  .app-list {
    margin-top: 16px;
  }

.custom_navbar_component {
    background-color: #e3e6e9;
    height: 4rem;
    display: block;
}

.custom_brand_container {
  display: inline-block;
  width: 20%;
}

.custom_brand_text {
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}

.custom_contact_container {
  display: inline-block;
  width: 20%;
}

.custom_contact_button {
  margin-left: 60%;
  background-color: #e3e6e9;
  border-width: 2px;
  border-color: #f54c18;
  height: 2.4rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .8rem;
  font-family: sans-serif;
}

.custom_contact_button:hover {
  background-color: #f54c18;
  border-color: #f54c18;
  color: #fff;
}

.custom_navbar_container {
  display: inline-block;
  width: 60%;
  justify-content: center;
  padding-left: 0%;
  padding-right: 0%;
}

.custom_navbar {
  
}

.custom_navbar_item {
  margin-left: 3rem;
  font-family: sans-serif;
}

.custom_navbar_item_text {
  color: #000;
  font-size: 1rem;
}

.custom_navbar_item_text:hover{
  color: #f54c18;
}

.custom_breadcrumb_overlay_container {
  background-color: #f7f8f8;
  margin-left: 3rem;
  margin-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* side-bar */
.custom_sidebar_component {
  width: 100vw;
  background-color: #343a40;
  height: 4rem;
}

.custom_brand_text_2 {
  font-size: 2rem;
  font-family: sans-serif;
  color: #f7f8f8;
  margin-left: 1rem;
}

/* media query */
@media only screen and (max-width: 600px) {
  .web_breadcrumb {
    display: none;
  }
  .mobile_drawer {

  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .web_breadcrumb {
   
  }
  .mobile_drawer {
    display: none;
  }
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .web_breadcrumb {
    
  }
  .mobile_drawer {
    display: none;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .web_breadcrumb {
    
  }
  .mobile_drawer {
    display: none;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .web_breadcrumb {

  }
  .mobile_drawer {
    display: none;
  }
}
