.demo {
    margin: 16px;
  }
  .demo-nav {
    height: 30px;
    margin-bottom: 16px;
    line-height: 30px;
    background-color: azure;
  }
  .demo-nav a {
    padding: 0 8px;
    line-height: 30px;
  }
  .app-list {
    margin-top: 16px;
  }

.custom_navbar_component {
    display: flex;
    justify-content: space-between;
}

.custom_brand_container {
 
}

.custom_brand_text {
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}

.custom_navbar_container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.custom_navbar {
  
}

.custom_navbar_item_text {
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-variant: all-small-caps;
}

.custom_navbar_item_text:hover{
  color: #f54c18;
}

.custom_breadcrumb_overlay_container {
  background-color: #f7f8f8;
  margin-left: 3rem;
  margin-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* side-bar */
.custom_sidebar_component {
  width: 100vw;
  background-color: #343a40;
  height: 4rem;
}

.custom_brand_text_2 {
  font-size: 2rem;
  font-family: sans-serif;
  color: #f7f8f8;
  margin-left: 1rem;
}

/* media query */
@media only screen and (max-width: 600px) {
  .web_breadcrumb {
    display: none;
  }
  .mobile_drawer {

  }

  .custom_navbar_item {
    margin-left: 3rem;
    font-family: sans-serif;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .web_breadcrumb {
   
  }
  .mobile_drawer {
    display: none;
  }

  .custom_navbar_item {
    margin-left: 0rem;
    font-family: sans-serif;
  }
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .web_breadcrumb {
    
  }
  .mobile_drawer {
    display: none;
  }

  .custom_navbar_item {
    margin-left: 2rem;
    font-family: sans-serif;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .web_breadcrumb {
    
  }
  .mobile_drawer {
    display: none;
  }

  .custom_navbar_item {
    margin-left: 3rem;
    font-family: sans-serif;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .web_breadcrumb {

  }
  .mobile_drawer {
    display: none;
  }

  .custom_navbar_item {
    margin-left: 3rem;
    font-family: sans-serif;
  }
}
